<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>
     Search
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-card>
      <ion-slides pager="false" scroll="false">
        <ion-slide>
          <div [ngSwitch]="type" style="width: 100%;
          height: 100%;">
            <div *ngSwitchCase="'images'" class="slide-first">
              <div class="top">
                <h2 class="m-0 ml-5">Akmal Ali<span> | 23</span></h2>
                <ion-icon name="heart-circle"></ion-icon>
              </div>
              <div class="ion-text-start">
                <p class="m-0 ml-5">Pharmacist</p>
                <p class="m-0 ml-5">Lahore, Pakistan</p>
              </div>
            </div>
            <div *ngSwitchCase="'book'" class="slide-second">
              <ion-list class="book-list p-0">
                <ion-list-header>

                  <ion-item lines="none" style="width: 100%;">
                    <ion-label>My Deen</ion-label>
                    <ion-thumbnail slot="end">
                      <img alt="Silhouette of mountains"
                        src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
                    </ion-thumbnail>
                  </ion-item>
                </ion-list-header>

                <ion-item lines="none" class="item-style">
                  <ion-icon name="moon" slot="start"></ion-icon>
                  <ion-label class="ion-text-center">
                    <h4>Sect</h4>
                    <h2>Sometimes Pray</h2>
                  </ion-label>
                </ion-item>
                <ion-item lines="none" class="item-style">
                  <ion-icon name="moon" slot="start"></ion-icon>
                  <ion-label class="ion-text-center">
                    <h4>Pray</h4>
                    <h2>Sunni Muslim</h2>
                  </ion-label>
                </ion-item>
                <ion-item lines="none" class="item-style">
                  <ion-icon name="moon" slot="start"></ion-icon>
                  <ion-label class="ion-text-center">
                    <h4>Religious History</h4>
                    <h2>Muslim Since Birth</h2>
                  </ion-label>
                </ion-item>
                <ion-item lines="none" class="item-style">
                  <ion-icon name="moon" slot="start"></ion-icon>
                  <ion-label class="ion-text-center">
                    <h4>Polygyny</h4>
                    <h2>No</h2>
                  </ion-label>
                </ion-item>
              </ion-list>
            </div>
            <div *ngSwitchCase="'person'" class="slide-third">
              <ion-list class="person-list p-0">
                <ion-list-header>

                  <ion-item lines="none" style="width: 100%;">
                    <ion-label>About Me</ion-label>
                    <ion-thumbnail slot="end">
                      <img alt="Silhouette of mountains"
                        src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
                    </ion-thumbnail>
                  </ion-item>
                </ion-list-header>

                <ion-label>
                  <p>I have completed my Pharm D and currently employed. i am a very simple girl</p>
                </ion-label>

                <ion-item lines="none" class="item-style">
                  <ion-icon name="moon" slot="start"></ion-icon>
                  <ion-label class="ion-text-center">
                    <h4>Asian- Pakistani</h4>
                  </ion-label>
                </ion-item>
                <ion-item lines="none" class="item-style">
                  <ion-icon name="moon" slot="start"></ion-icon>
                  <ion-label class="ion-text-center">
                    <h4>Never Married</h4>
                  </ion-label>
                </ion-item>
                <ion-item lines="none" class="item-style">
                  <ion-icon name="moon" slot="start"></ion-icon>
                  <ion-label class="ion-text-center">
                    <h4>Don't Have Children</h4>
                  </ion-label>
                </ion-item>
              </ion-list>>
            </div>
          </div>


          <ion-toolbar>
            <ion-segment value="images" [(ngModel)]="type">
              <ion-segment-button value="images">
                <ion-icon name="images"></ion-icon>
              </ion-segment-button>
              <ion-segment-button value="book">
                <ion-icon name="book"></ion-icon>
              </ion-segment-button>
              <ion-segment-button value="person">
                <ion-icon name="person"></ion-icon>
              </ion-segment-button>
            </ion-segment>
          </ion-toolbar>
        </ion-slide>
      </ion-slides>
    </ion-card>

    <ion-card>
      <ion-slides pager="false" scroll="false">
        <ion-slide>
          <div [ngSwitch]="type" style="width: 100%;
          height: 100%;">
            <div *ngSwitchCase="'images'" class="slide-first">
              <div class="top">
                <h2 class="m-0 ml-5">Junaid<span> | 23</span></h2>
                <ion-icon name="heart-circle"></ion-icon>
              </div>
              <div class="ion-text-start">
                <p class="m-0 ml-5">Pharmacist</p>
                <p class="m-0 ml-5">Lahore, Pakistan</p>
              </div>
            </div>
            <div *ngSwitchCase="'book'" class="slide-second">
              <ion-list class="book-list p-0">
                <ion-list-header>

                  <ion-item lines="none" style="width: 100%;">
                    <ion-label>My Deen</ion-label>
                    <ion-thumbnail slot="end">
                      <img alt="Silhouette of mountains"
                        src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
                    </ion-thumbnail>
                  </ion-item>
                </ion-list-header>

                <ion-item lines="none" class="item-style">
                  <ion-icon name="moon" slot="start"></ion-icon>
                  <ion-label class="ion-text-center">
                    <h4>Sect</h4>
                    <h2>Sometimes Pray</h2>
                  </ion-label>
                </ion-item>
                <ion-item lines="none" class="item-style">
                  <ion-icon name="moon" slot="start"></ion-icon>
                  <ion-label class="ion-text-center">
                    <h4>Pray</h4>
                    <h2>Sunni Muslim</h2>
                  </ion-label>
                </ion-item>
                <ion-item lines="none" class="item-style">
                  <ion-icon name="moon" slot="start"></ion-icon>
                  <ion-label class="ion-text-center">
                    <h4>Religious History</h4>
                    <h2>Muslim Since Birth</h2>
                  </ion-label>
                </ion-item>
                <ion-item lines="none" class="item-style">
                  <ion-icon name="moon" slot="start"></ion-icon>
                  <ion-label class="ion-text-center">
                    <h4>Polygyny</h4>
                    <h2>No</h2>
                  </ion-label>
                </ion-item>
              </ion-list>
            </div>
            <div *ngSwitchCase="'person'" class="slide-third">
              <ion-list class="person-list p-0">
                <ion-list-header>

                  <ion-item lines="none" style="width: 100%;">
                    <ion-label>About Me</ion-label>
                    <ion-thumbnail slot="end">
                      <img alt="Silhouette of mountains"
                        src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
                    </ion-thumbnail>
                  </ion-item>
                </ion-list-header>

                <ion-label>
                  <p>I have completed my Pharm D and currently employed. i am a very simple girl</p>
                </ion-label>

                <ion-item lines="none" class="item-style">
                  <ion-icon name="moon" slot="start"></ion-icon>
                  <ion-label class="ion-text-center">
                    <h4>Asian- Pakistani</h4>
                  </ion-label>
                </ion-item>
                <ion-item lines="none" class="item-style">
                  <ion-icon name="moon" slot="start"></ion-icon>
                  <ion-label class="ion-text-center">
                    <h4>Never Married</h4>
                  </ion-label>
                </ion-item>
                <ion-item lines="none" class="item-style">
                  <ion-icon name="moon" slot="start"></ion-icon>
                  <ion-label class="ion-text-center">
                    <h4>Don't Have Children</h4>
                  </ion-label>
                </ion-item>
              </ion-list>>
            </div>
          </div>


          <ion-toolbar>
            <ion-segment value="images" [(ngModel)]="type">
              <ion-segment-button value="images">
                <ion-icon name="images"></ion-icon>
              </ion-segment-button>
              <ion-segment-button value="book">
                <ion-icon name="book"></ion-icon>
              </ion-segment-button>
              <ion-segment-button value="person">
                <ion-icon name="person"></ion-icon>
              </ion-segment-button>
            </ion-segment>
          </ion-toolbar>
        </ion-slide>
      </ion-slides>
    </ion-card>


    <ion-card>
      <ion-slides pager="false" scroll="false">
        <ion-slide>
          <div [ngSwitch]="type" style="width: 100%;
          height: 100%;">
            <div *ngSwitchCase="'images'" class="slide-first">
              <div class="top">
                <h2 class="m-0 ml-5">Faisal<span> | 23</span></h2>
                <ion-icon name="heart-circle"></ion-icon>
              </div>
              <div class="ion-text-start">
                <p class="m-0 ml-5">Pharmacist</p>
                <p class="m-0 ml-5">Lahore, Pakistan</p>
              </div>
            </div>
            <div *ngSwitchCase="'book'" class="slide-second">
              <ion-list class="book-list p-0">
                <ion-list-header>

                  <ion-item lines="none" style="width: 100%;">
                    <ion-label>My Deen</ion-label>
                    <ion-thumbnail slot="end">
                      <img alt="Silhouette of mountains"
                        src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
                    </ion-thumbnail>
                  </ion-item>
                </ion-list-header>

                <ion-item lines="none" class="item-style">
                  <ion-icon name="moon" slot="start"></ion-icon>
                  <ion-label class="ion-text-center">
                    <h4>Sect</h4>
                    <h2>Sometimes Pray</h2>
                  </ion-label>
                </ion-item>
                <ion-item lines="none" class="item-style">
                  <ion-icon name="moon" slot="start"></ion-icon>
                  <ion-label class="ion-text-center">
                    <h4>Pray</h4>
                    <h2>Sunni Muslim</h2>
                  </ion-label>
                </ion-item>
                <ion-item lines="none" class="item-style">
                  <ion-icon name="moon" slot="start"></ion-icon>
                  <ion-label class="ion-text-center">
                    <h4>Religious History</h4>
                    <h2>Muslim Since Birth</h2>
                  </ion-label>
                </ion-item>
                <ion-item lines="none" class="item-style">
                  <ion-icon name="moon" slot="start"></ion-icon>
                  <ion-label class="ion-text-center">
                    <h4>Polygyny</h4>
                    <h2>No</h2>
                  </ion-label>
                </ion-item>
              </ion-list>
            </div>
            <div *ngSwitchCase="'person'" class="slide-third">
              <ion-list class="person-list p-0">
                <ion-list-header>

                  <ion-item lines="none" style="width: 100%;">
                    <ion-label>About Me</ion-label>
                    <ion-thumbnail slot="end">
                      <img alt="Silhouette of mountains"
                        src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
                    </ion-thumbnail>
                  </ion-item>
                </ion-list-header>

                <ion-label>
                  <p>I have completed my Pharm D and currently employed. i am a very simple girl</p>
                </ion-label>

                <ion-item lines="none" class="item-style">
                  <ion-icon name="moon" slot="start"></ion-icon>
                  <ion-label class="ion-text-center">
                    <h4>Asian- Pakistani</h4>
                  </ion-label>
                </ion-item>
                <ion-item lines="none" class="item-style">
                  <ion-icon name="moon" slot="start"></ion-icon>
                  <ion-label class="ion-text-center">
                    <h4>Never Married</h4>
                  </ion-label>
                </ion-item>
                <ion-item lines="none" class="item-style">
                  <ion-icon name="moon" slot="start"></ion-icon>
                  <ion-label class="ion-text-center">
                    <h4>Don't Have Children</h4>
                  </ion-label>
                </ion-item>
              </ion-list>>
            </div>
          </div>


          <ion-toolbar>
            <ion-segment value="images" [(ngModel)]="type">
              <ion-segment-button value="images">
                <ion-icon name="images"></ion-icon>
              </ion-segment-button>
              <ion-segment-button value="book">
                <ion-icon name="book"></ion-icon>
              </ion-segment-button>
              <ion-segment-button value="person">
                <ion-icon name="person"></ion-icon>
              </ion-segment-button>
            </ion-segment>
          </ion-toolbar>
        </ion-slide>
      </ion-slides>
    </ion-card>
    
    
  </ion-list>
</ion-content>
